.grid {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template: repeat(3, 1fr) / 3fr 50% 1fr;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/* The properties that define the row and column structure can take functions as
values. The repeat function is one of those functions. The repeat function can
duplicate the specifications for rows and columns.*/
