p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title{
  color:teal;
}

.uppercase{
  text-transform: uppercase;
}

/* An HTML tag can have multiple classes by adding a space between the class names.
This way, CSS can have multiple classes to create many styles without needing a
custom class for every combination of styles.
*/
